<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TestSuite" parallel="methods" thread-count="15">
	<test name="Docker Tests">
		<packages>
			<package name="io.github.cowwoc.anchor4j.docker.test"/>
			<package name="io.github.cowwoc.anchor4j.docker.test.resource"/>
		</packages>
	</test>
</suite>